@model IEnumerable<HouseOfShows.WebMVC.Models.Evento>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Eventos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Data do Evento
            </th>
            <th>
                Valor da Inteira
            </th>
            <th>
                Valor da Meia
            </th>
            <th>
                CPF Responsável
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorInteira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMeia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfResponsavelNavigation.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeStatusNavigation.NomeStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
